/*
!/config
/config/AppliedEnergistics2/VersionChecker.cfg
!/scripts
!/kubejs
!/multiblocked
!/quests_structures
!/defaultconfigs
!*.md
!.gitignore
.zsrc
Probe.cfg
config/awesomedungeon.properties
config/awesomedungeonocean.properties
config/libraryferret.properties
